<h2><%= @user.name %>さん</h2>

<%= image_tag @user.image %>

<% if  profile = @user.user_profile %>
  年齢: <%= profile.age %>歳
  身長: <%= profile.height %>cm
  体重: <%= profile.weight %>kg
  性別: <%= profile.sex %>
<% else %>
  年齢: 未登録
  身長: 未登録
  体重: 未登録
  性別: 未登録
<% end %>

<hr>

<%= link_to '気になる', "#", class: "btn btn-default" %>
<%= link_to '会いたい', "#", class: "btn btn-default" %>